    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/bg/night-768636_1280.jpg')">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  
                  
                    <div class="site-heading">
                      <div class='col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-4'>
                        <img class='img-responsive img-circle' src='https://diego-blog.s3.amazonaws.com/uploads/bootsy/image/7/picture_for_blog.jpg'>
                      </div>
                      
                      <div style='clear:both'>
                      <h1><%= t ".headline" %></h1>
                        <hr class="small">
                      
                        <h2><%= t ".subheadline" %></h2>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
<% @posts.each do |post| %>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href=<%= post_path(post)%>>
                        <h2 class="post-title">
                          <%= post.title %>
                        </h2>
                        <h3 class="post-subtitle">
                          <%= truncate(strip_tags(post.description), length: 500)%>
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#"><%= post.author%></p>
                </div>                
            </div>
        </div>
    </div>
   <hr>
<% end %>
<div align='center'>
  <a href="<%= olderposts_path%>"><button type="button" class="btn btn-lg btn-default"><%= t ".olderposts" %> &rarr;</button></a>
</div>

    
