<header class="intro-header" style="background-image: url('https://diego-blog.s3.amazonaws.com/uploads/post/post_image/9/night-768636_1280.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1><%= t '.h1' %></h1>
                        <hr class="small">
                        <span class="subheading"><%= t '.subh1' %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">                
                <p><%= t '.p1' %></p>
               
              <%= form_tag(about_email_path, :method=>'post') do %>
              
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label><%= t '.name' %></label>
                          <%= text_field_tag("name","",:class => "form-control", placeholder: (I18n.t '.about.contact.name'), id: "name") %>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                          <label><%= t '.email' %></label>
                          <%= text_field_tag("email","",:class => "form-control", placeholder: (I18n.t '.about.contact.email'), id: "email") %>
                           <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                          <label><%= t '.phone' %></label>
                          <%= text_field_tag("phone","",:class => "form-control", placeholder: (I18n.t '.about.contact.phone'), id: "phone") %>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                          <label><%= t '.message' %></label>
                          <%= text_area_tag("message","",:rows => 5,:class => "form-control", placeholder: (I18n.t '.about.contact.message'), id: "message") %>

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                          <%= submit_tag 'Submit', :class => "btn btn-default" %>
                            
                        </div>
                    </div>
                
              <% end %>
            </div>
        </div>
    </div>

    <hr>